In [30]:
float('inf')

inf

ar2 = [0]*10

In [2]:
ar2 = [0]*10

In [3]:
print(ar2)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [4]:
ar2= [1]+[0]*10

In [5]:
print(ar2)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [7]:
print(list(range(10,0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
ar.remove(2)

In [10]:
if 4 in ar:
    print('yes')

yes

In [11]:
ar = [3,1,6,4,9,2]

In [12]:
ar2 = reversed(ar)

In [13]:
print(ar)

[3, 1, 6, 4, 9, 2]

In [14]:
print(ar2)

<list_reverseiterator object at 0x109236860>

In [15]:
for n in ar2:
    print(n)

2
9
4
6
1
3

In [16]:
print(list(ar2))

[]

In [17]:
print(ar2)

<list_reverseiterator object at 0x109236860>

In [18]:
ar.reverse()

In [19]:
print(ar)

[2, 9, 4, 6, 1, 3]

In [20]:
ar2 = sorted(ar)

In [21]:
print(ar2)

[1, 2, 3, 4, 6, 9]

In [22]:
print(ar)

[2, 9, 4, 6, 1, 3]

In [23]:
ar.sort()

In [24]:
print(ar)

[1, 2, 3, 4, 6, 9]

In [25]:
ar2 = ar[1:5]

In [26]:
print(ar)

[1, 2, 3, 4, 6, 9]

In [27]:
print(ar2)

[2, 3, 4, 6]

In [28]:
[x**2 for x in range(6)]

[0, 1, 4, 9, 16, 25]

In [29]:
[x**2 for x in range(6) if x%2==0]

[0, 4, 16]